

<div id="pagingBar">
    
{{if obj.pageable.pageNumber>0}}
        <a class="pageNumberButton" style="position: absolute;right: 3cm;" href="#/cmd?module={{:~root.obj.moduleName}}&action=/all/list&pageNumber={{:obj.pageable.pageNumber+0}}">
           << Prev</a>
    {{else}}
  
    {{/if}}
     {{if obj.pageable.pageNumber< obj.totalPages-1}}
     <a class="pageNumberButton" style="position: absolute;right: 1cm;" href="#/cmd?module={{:~root.obj.moduleName}}&action=/all/list&pageNumber={{:obj.pageable.pageNumber+2}}">
         Next >></a>
      {{/if}}
<br>
Page
{{for start=1 end=obj.totalPages+1  itemVar='~page' }}
    <a 
         {{if (~root.obj.pageable.pageNumber+1)==#data}}  
        class="pageNumberButton pageNumberButtonSelected"
        {{else}}
         class="pageNumberButton"
        
        {{/if}}
        href="#/cmd?module={{:~root.obj.moduleName}}&action=/all/list&pageNumber={{:~page}}"> {{:~page}}</a>
    {{/for}}
    <br>
  </div> 